.st-img{
height: 450px;
}
.img-font{
    color:cadetblue;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding-top: 90px;
    
  
}
.st-pera{
    font-family: 'Amatic SC', cursive;
}
.mari{
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;

}
.st-row{
    height: 70px;
    background-color: rgb(238, 241, 241);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
}