.st-img{
height: 450px;
}
.img-font{
    color:cadetblue;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding-top: 90px;
    
  
}
.st-pera{
    font-family: 'Amatic SC', cursive;
}
.mari{
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;


}